.call-container {
  border:  1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.call-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
}

.call-type {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  margin: 0 .5em;
}

.call-overview-left {
  display: flex;
}

.call-overview-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.twelve-hour {
  border: 1px solid rgb(216, 216, 216);
}