.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
  width: 360px;
  background-color: white;
}

.nav-header {
  font-size: 1.75rem;
}

.nav-link-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  font-size: 1rem;;
  padding: 0 .5rem;
  height: 20px;
  border-right: 1px solid rgb(196, 196, 196);
}

.nav-link:hover {
  opacity: .8;
}

.nav-link:active {
  opacity: .6;
}