.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
  width: 360px;
  background-color: white;
}

.nav-header {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav-link-list {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0 .5rem;
  height: fit-content;
  border-right: 1px solid rgb(196, 196, 196);
}